/*
Autores
Thaís Barros Alvim - RA: 2020008082 
Thiago Henrique Cruz de Moura - RA: 2020023875
*/

#Content {
    background-color: #E8E8E8;
    border-radius: 22px;
    max-width: 900px;
    margin: auto;
    padding: 30px 70px;
    color: #404E5C;
}

.paragraph {
    text-indent: 30px;
}

#Content h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* GitHub Project */

#GitHubProject {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#GitHubProject svg {
    margin-right: 10px;
}

/* Mockup */

#Content iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 400px;
    margin-top: 20px;
}

#FigmaBox {
    margin-top: 20px;
}

/* Netlify */

#NetlifyBox {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#NetlifyBox img {
    height: 30px;
    margin-right: 10px;
}