* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.card-body {
    padding: 0px 0px 0px 0px;
}

.my-post {
    color: white;
    background-color: #4F6272;
    padding: 0;
    margin: 0;
    border: 0;
}

.card-header {
    border: 0;
    margin: 0;
    padding: 0;
}

.Post .PostImage img {
    padding-bottom: 10px;
    border-radius: 0;
}

/* Comentario */

.Comentario .UserId .UserAvatar {
    margin-right: 0px;
    margin-right: 0.3rem;
}

.Comentario {
    padding-bottom: 2rem;
}

.Comentario .UserId p {
    padding: 3px;
    margin: 0px;
    margin-right: 1px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.Comentario .UserId {
    width: 40rem;
}

.ComenCont {
    font-weight: normal;
    font-size: 9px;
}

.ComenUser {
    font-weight: bolder;
    font-size: 12px;
}

ul, ol {
    list-style: none;
    padding-left: 0px;
    display: table-cell;
    margin-block-end: 0em;
    padding: 0;
    margin: 0;
}

.CommentList {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.6rem;
}

li {
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Comentario input */

.Comentinput .post-btn {
    background-color: #BFBFBF;
    border: none;
    color: #404E5C;
    padding: 0.8rem 2rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    float: right;
}

.Comentinput .post-btn:hover {
    background-color: #4F6272;
    color: #BFBFBF;
}

.Comentinput input::placeholder {
    color: #404E5C;
}

.Comentinput input {
    border: 0;
    vertical-align: auto;
    padding: 0.8rem 1rem;
    background-color: #BFBFBF;
    color: #404E5C;
    float: left;
    width: 36rem;
    height: auto;
    text-align: left;
    outline: none;
}

.my-footer-color {
    color: white;
    background-color: #BFBFBF;
    padding: 0;
    margin: 0;
    border: 0;
}

/* User ID */

.UserId {
    float: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
}

.UserId .UserAvatar img {
    display: block;
    border-radius: 50%;
}

.UserId .UserAvatar {
    background: white;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    vertical-align: middle;
    float: left;
}

.UserId .UserAvatar img {
    display: block;
    border-radius: 50%;
}

.UserId p {
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    text-align: left;
    vertical-align: center;
    width: 10rem;
    height: auto;
}

/* Post Buttons */

.PostIcons {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}

.btn-unclick svg {
    filter: invert(74%) sepia(11%) saturate(31%) hue-rotate(51deg) brightness(102%) contrast(92%);
}

.btn-click svg {
    filter: invert(100%) sepia(3%) saturate(179%) hue-rotate(159deg) brightness(114%) contrast(82%);
}

/* Post Like btn */

.like-button {
    float: left;
    padding-right: 1rem;
}

.like-button button {
    color: transparent;
    padding-left: 0;
    background-color: transparent;
    border: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.like-button svg {
    width: 2rem;
}

/* Post Share btn */

.share-btn {
    float: left;
    padding-right: 1rem;
}

.share-btn button {
    color: transparent;
    padding-left: 0;
    background-color: transparent;
    border: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.share-btn svg {
    width: 2rem;
}

/* Post Code Snipped btn */

.code-snip-btn {
    float: right;
    padding-right: 0rem;
    margin-right: 0;
}

.code-snip-btn button {
    color: transparent;
    padding-left: 0;
    background-color: transparent;
    border: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.code-snip-btn svg {
    width: 4rem;
    height: auto;
}

/* Language id */

.language-id {
    float: right;
    padding-right: 1.3rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.language-box {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #404E5C;
    width: 8rem;
    height: 2.5rem;
}

.language-box img {
    float: left;
    width: 2rem;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    height: auto;
}

.language-box p {
    text-align: center;
    float: center;
    font-weight: bold;
    padding: 0.3rem;
}